/**
 * Plugin Name: DPD France
 * Plugin URI: http://www.dpd.fr/ecommerce
 * Description: Module de livraison DPD pour WooCommerce 2.x (France)
 * Version: 5.2.2
 * Author: DPD France S.A.S.
 * Author URI: http://www.dpd.fr/
 * License: Open Software License (OSL 3.0) - http://opensource.org/licenses/osl-3.0.php
 */

@font-face
{
    font-family:DPDPlutoSansExtraLight;
    src:url(../../fonts/PlutoSansDPDExtraLight-Web.ttf);
}

@font-face
{
    font-family:DPDPlutoSansLight;
    src:url(../../fonts/PlutoSansDPDLight-Web.ttf);
}

@font-face
{
    font-family:DPDPlutoSansRegular;
    src:url(../../fonts/PlutoSansDPDRegular-Web.ttf);
}

div.dpdfrance-wrap {
    font-family: DPDPlutoSansRegular;
}

#fieldset_rss {
    background-color: #e6e7e7 !important;
}

#fieldset_grid {
    background-color: white !important;
}

#zonemarquee {
    padding-bottom: 10px;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #e6e7e7;
    height: 25px;

}

div.js-marquee {
    font-family: DPDPlutoSansExtraLight;
}

div.js-marquee strong {
    font-family: DPDPlutoSansLight;
    color: #dc0032;
}
.marquee {
    display: block;
    padding: 10px;
    width: 800px;
    color: #424143;
}

#tableFilter {
    height: 25px;
    line-height: 25px;
    padding: 0px 10px;
    width: 50%;
    color: #808285 !important;
    font-family: "DPDPlutoSansLight";
    font-size : 11px;
    border-style: none;
    background-color: #e6e7e7;
}

#filtericon {
    height: 25px;
    width: 26px;
    padding: 0 1px;
    background-color: #424143;
    vertical-align:middle;
}

tbody tr td {
    width: 20px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
    font-family: DPDPlutoSansLight;
}
th {
    font-size: 12px !important;
    padding: 5px 2px !important;
}
td.id {
    width: 50px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.ref {
    width: 90px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.date {
    width: 120px;
    font-size: 11px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.nom {
    width: 200px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.type {
    width: 50px;
    font-size: 0px !important;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.pr {
    width: 250px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

a.popup {
    font-family: "DPDPlutoSansLight";
    text-decoration: none;
    color: #424143;
}

a.popup:hover {
    color: #dc0032;
}

td.cp {
    width: 45px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.ville {
    width: 200px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.prix {
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
    text-align: right;
}

td.advalorem {
    font-size: 12px;
    padding-left: 00px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
    text-align:center; 
}

td.poids {
    font-size: 12px;
    text-align:right;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.statutcommande {
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.statutcolis {
    width: 90px;
    height: 42px;
    font-size: 12px;
    border-color: #bfbfbf;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-style: solid;
}

td.retour {
    text-align: center;
}

th {
    font-family: DPDPlutoSansRegular;
    text-align: center !important;
}
th.manage-column.column-cb.check-column {
    line-height: 32px;
    text-align: left !important;
}
th.manage-column.column-order_id {
    width: 50px;
}
th.manage-column.column-order_date {
    width: 70px;
}
th.manage-column.column-order_customer {
    width: 120px;
}
th.manage-column.column-order_shipping_method {
    width: 30px;
}
th.manage-column.column-order_address {
    width: 170px;
}
th.manage-column.column-order_weight {
    width: 60px;
}
th.manage-column.column-order_amount {
    width: 90px;
}
th.manage-column.column-order_status {
    width: 100px;
}
th.manage-column.column-order_tracking {
    width: 60px;
}
th.manage-column.column-order_retour {
    width: 35px;
}

input.poids {
    height: 20px;
    width: 50px;
    font-size: 12px;
    border: solid 1px #bfbfbf;
}

table.h {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
}

div.news_box_title {
    font-weight: bold;
}

div.news_box a {
    text-decoration: underline;
    font-style: italic;
}

table.orders {
    border-collapse: collapse;
}

div.okmsg
{
    background-color:#dff0d8!important;
    box-sizing:border-box!important;
    color:#424143!important;
    display:block!important;
    font-family:DPDPlutoSansLight !important;
    font-size:13px!important;
    margin:15px 0!important;
    padding:15px 15px 15px 50px !important;
    position:relative!important;
    width:100%!important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

div.okmsg::before
{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    box-sizing:border-box;
    color:#7cc67c;
    content:" ";
    background:url(../../img/admin/ok_icon.png) no-repeat center;
    display:block;
    font-family:DPDPlutoSansRegular;
    font-size:42px;
    font-style:normal;
    font-weight:400;
    height:48px;
    left:15px;
    margin:auto;
    position:absolute;
    width:25px;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.warnmsg
{
    background-color:#fff !important;
    box-sizing:border-box !important;
    border-style: solid;
    border-color: #a90034;
    border-width: 2px;
    color:#a90034!important;
    display:block!important;
    font-family:DPDPlutoSansRegular !important;
    font-size:13px!important;
    font-weight:bold;
    margin:15px 0!important;
    padding:15px 15px 15px 50px !important;
    position:relative!important;
    width:100%!important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

div.warnmsg::before
{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    box-sizing:border-box;
    color:#a90034;
    content:" ";
    background:url(../../img/admin/warn_icon.png) no-repeat center;
    display:block;
    font-family:DPDPlutoSansRegular;
    font-size:42px;
    font-style:normal;
    font-weight:400;
    height:25px;
    left:10px;
    line-height:1;
    margin:auto;
    position:absolute;
    width:32px;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

fieldset legend img {
    height: 24px;
}

#content fieldset legend {
    background: #fff;
    color: #424143;
    font-family: DPDPlutoSansRegular;
}

fieldset legend a {
    color: #424143 !important;
    font-family: DPDPlutoSansLight;
    text-decoration: none;
}

#content fieldset {
    background-color: #e6e7e7;
}

div.js-marquee strong {
    color: #dc0032;
}

div.alert-danger {
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #f3515c;
    border-color: #d4323d;
    color: white;
}

div.alert.alert-danger:before {
    font-family: "FontAwesome";
    content: "\f057";
    font-size: 32px;
    vertical-align: -2px;
    padding-right: 15px;
    margin: -12px -5px;
    float: left;
}

#showhide {
    width: 18px;
    height: 18px;
    line-height: 16px;
    background-color: transparent;
    color: #dc0032;
    font-size: 28px;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
}