/**
 * Plugin Name: DPD France
 * Plugin URI: http://www.dpd.fr/ecommerce
 * Description: Module de livraison DPD pour WooCommerce 2.x (France)
 * Version: 5.2.2
 * Author: DPD France S.A.S.
 * Author URI: http://www.dpd.fr/
 * License: Open Software License (OSL 3.0) - http://opensource.org/licenses/osl-3.0.php
 */

@font-face
{
    font-family:DPDPlutoSansExtraLight;
    src:url(../../fonts/PlutoSansDPDExtraLight-Web.ttf);
}

@font-face
{
    font-family:DPDPlutoSansLight;
    src:url(../../fonts/PlutoSansDPDLight-Web.ttf);
}

@font-face
{
    font-family:DPDPlutoSansRegular;
    src:url(../../fonts/PlutoSansDPDRegular-Web.ttf);
}

/* Table */
#dpdfrance_relais_point_table
{
    padding-bottom:5px;
    margin-top:0;
    text-rendering:optimizelegibility;
    width: 100%;
}

#tr_carrier_dpdfrance_relais
{
    padding:0;
}

div.dpdfrance_relais_error
{
    background-color:#a90034;
    padding-left:10px;
    padding-bottom:0;
    font-size:13px;
    color:#fff;
    line-height:20px;
    font-family:DPDPlutoSansRegular;
}

table.dpdfrance_relaistable
{
    border-style:none;
    border-width:0;
    padding:0;
    background-color:#fff;
    border-collapse:separate;
    border-spacing:0 0;
    font-family:DPDPlutoSansLight;
    padding-bottom:0!important;
}

table.dpdfrance_relais_container
{
    width:100%;
}

div.dpdfrance_relais_error
{
    background-color:#fff;
    color:red;
    text-align:center;
    line-height:24px;
    border:1px solid red;
}

/* Lignes choix PR */
.dpdfrance_headertd {
    border-width: 0;
    padding: 0;
}
#dpdfrance_div_relais_header
{
    width:100%;
    height:25px;
    line-height:24px;
    padding:0;
    background-color:#DC0032;
}

#dpdfrance_div_relais_header p
{
    height:25px;
    padding:0;
    margin:0;
    padding-left:15px;
    font-size:13px;
    font-family:DPDPlutoSansLight;
    color:#fff;
    text-align: left !important;
}

#dpdfrance_div_relais_srch_link {
    background-color: #e6e7e7;
    color: #424143;
    padding: 7px 10px 7px 14px;
    line-height: 12px;
    font-size: 13px;
    border-style: none;
}

#dpdfrance_div_relais_srch_panel {
    padding-top: 7px;
    padding-bottom: 7px;
}

#dpdfrance_search_address {
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 5px;
    border: 1px solid #808285;
    height: 26px;
    width: 249px;
    padding: 1px 6px;
    box-sizing: border-box;
    font-size: 12px;
    font-family: DPDPlutoSansLight;
    background-color: #fff;
    color: #424143;
    text-transform: none;
    font-weight: normal;
}

#dpdfrance_search_zipcode {
    line-height: 16px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 6px;
    border: 1px solid #808285;
    font-size: 12px;
    font-family: DPDPlutoSansLight;
    background-color: #fff;
    color: #424143;
    padding: 1px 6px;
    width: 90px;
    box-sizing: border-box;
    height: 26px;
    text-transform: none;
    font-weight: normal;
}

#dpdfrance_search_city {
    line-height: 16px;
    margin: 4px 5px 5px 0px;
    border: 1px solid #808285;
    font-size: 12px;
    font-family: DPDPlutoSansLight;
    background-color: #fff;
    color: #424143;
    padding: 1px 6px;
    height: 26px;
    width: 150px;
    text-transform: none;
    font-weight: normal;
    box-sizing: border-box;
}

#dpdfrance_search_submit {
    border-style: none;
    border-color: #808285;
    border-width: 1px;
    background-color: #dc0032;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    height: 25px;
    padding: 1px 6px;
    font-family: DPDPlutoSansLight;
    text-transform: none;
}

#dpdfrance_reset_submit {
    border-style: solid;
    border-color: #808285;
    border-width: 1px;
    background-color: #fff;
    color: #808285;
    font-size: 12px;
    line-height: 18px;
    height: 25px;
    padding: 1px 6px;
    font-family: DPDPlutoSansLight;
    text-transform: none;
}

td.dpdfrance_tdpr
{
    border-color: #808285;
    border-width: 0 0 1px 0;
    padding: 5px 0px !important;
}
tr.dpdfrance_lignepr
{
    height: 50px;
    display:inline-block;
    padding:0;
    width:97%;
    border-style: none;
    background-color:#fff !important;
}

.dpdfrance_lignepr:nth-child(7)
{
    border:none;
}

div.dpdfrance_logorelais {
    min-width: 60px;
    background: #fff url(../../img/front/relais/pointrelais.png) no-repeat center ;
    font-size: 0px;
    float: left;
    height: 60px;
}

div.dpdfrance_popinpr {
    width: 20%;
    font-size: 12px;
    float: left;
    height: 60px;
    top: 33%;
    position: relative;
    color: #424143;
}

div.dpdfrance_adressepr {
    font-size: 12px;
    width: 45%;
    float: left;
    height: 60px;
    line-height: 16px;
    font-weight: normal;
    top: 12%;
    position: relative;
    color: #424143;
}

div.dpdfrance_radiopr {
    width: 10%;
    font-size: 0px;
    float: right;
    height: 60px;
    top: 45%;
    position: relative;
}

div.dpdfrance_lignepr {
    width: 100;
    height: 60px;
}

div.dpdfrance_distancepr {
    width: 8%;
    font-size: 12px;
    float: left;
    height: 60px;
    top: 33%;
    position: relative;
    font-weight: normal;
}

.dpdfrance_popinpr a {
    font-weight: normal;
    text-decoration: none;
    color: #424143;
}

.dpdfrance_popinpr a:hover {
    color: #dc0032 ;
}

.dpdfrance_radiopr label span:hover
{
    cursor:pointer;
}

#saveRelaisChoice {
    float: right;
}

input[name=dpdfrance_relay_id]:not(old)
{
    width:2em;
    margin:0;
    padding:0;
    font-size:1em;
    opacity:0;
}

/* Bouton */
input[name=dpdfrance_relay_id]:not(old) + label
{
    display:inline-block;
    margin-left:0;
    line-height:1.5em;
    margin-top:-15px;
}

input[name=dpdfrance_relay_id]:not(old) + label > span
{
    display:inline-block;
    width:35px;
    height:25px;
    margin:.25em;
    background:#E6E7E7;
    vertical-align:bottom;
}

/* Bouton gris normal */
input[name=dpdfrance_relay_id]:not(old):checked + label > span
{
    background:#E6E7E7;
}

/* Texte ICI blanc sur bouton checked*/
input[name=dpdfrance_relay_id]:not(old):checked + label > span:before
{
    content:'ICI';
    display:block;
    width:35px;
    color:#fff;
    font-size:14px;
    line-height:25px;
    text-align:center;
}

/* Overlay rouge sur bouton checked */
input[name=dpdfrance_relay_id]:not(old):checked + label > span > span
{
    display:block;
    width:35px;
    height:25px;
    margin-top:-25px;
    margin-right:0;
    background-color:#DC0032;
}

/* Texte ICI gris sur bouton normal */
input[name=dpdfrance_relay_id]:not(old) + label > span:before
{
    content:'ICI';
    display:block;
    width:35px;
    color:#424143;
    font-size:14px;
    line-height:25px;
    text-align:center;
}

/* Masquer le label ICI */
td.dpdfrance_radiopr label b
{
    display:none;
}

/* Pop-in details */

#dpdfrance_relais_filter {
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    background-color:#424143;
    top:0;
    left:0;
    padding:14px;
    text-align:left;
    z-index:10000000;
    opacity:0.85;
    filter:alpha(opacity=85); /*IE8 et avant */
}
.dpdfrance_relaisbox
{
    font-family:DPDPlutoSansLight, sans-serif;
    text-rendering:optimizelegibility;
    display:block;
    border-radius:6px;
    position:fixed;
    width:60%;
    height:90%;
    background-color:#FFF;
    top:5%;
    left:20%;
    padding:0;
    text-align:left;
    z-index:100000000000000000000;
}
.dpdfrrelaisboxcarto {
    width:100%;
    min-height: 62%; 
    top: 0px;
    left: 0px;
    border-radius: 6px 6px 0px 0px;
}

.dpdfrrelaisboxcarto img {
    max-width: none !important;
}
div.gm-style-cc div {
    display: none;
}

div.gm-style {
    border-radius: 6px 6px 0 0;
}

.dpdfrrelaisboxbottom {
    position: relative;
    margin: 0 auto;
    width: 800px;
}

.dpdfrrelaisboxadresseheader { 
    width: 240px;
    height: 90px;
    background: #fff;
    font-weight:300;
    font-size:12px;
    text-align:center;
    border-style: none;
    line-height: 0px;
    margin: 0;
    padding: 0;
}

.dpdfrrelaisboxadresse {
    min-height:88px;
    height:auto;
    line-height: 22px;
    font-size: 11px;
    width: 240px;
    margin-bottom: 0;
    position: absolute;
    left:0%;
}

.dpdfrrelaisboxadresse p {
    padding: 0;
    font-style: italic;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dpdfrrelaisboxhoraires {
    text-align:left;
    background: #FFF;
    height:auto;
    line-height: 22px;
    font-size: 11px;
    width: 260px;
    left: 250px;
    position: absolute;
}
.dpdfrrelaisboxhorairesheader { 
    width: 240px;
    height: 90px;
    background: #fff;
    font-weight:300;
    font-size:12px;
    text-align:center;
    border-style: none;
    margin: 0;
    padding: 0;
    line-height: 0px;
}

.dpdfrrelaisboxhoraires p span {
    font-family: 'DPDPlutoSansLight', sans-serif;
    display: inline-block;
    color: #dc0032;
    font-size: 12px;
    font-weight: 400;
    width: 90px;
    margin: 0;
}

.dpdfrrelaisboxhoraires p {
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;
    line-height: 11px;
    margin: 0 !important;
}

.dpdfrrelaisboxinfos {
    text-align:left;
    background: #FFF;
    height:auto;
    line-height: 22px;
    font-size: 11px;
    width: 260px;
    margin-right: 10px;
    position: absolute;
    left: 520px;
}

.dpdfrrelaisboxinfosheader { 
    width: 260px;
    height: 90px;
    background: #fff;
    font-weight:300;
    font-size:12px;
    text-align:center;
    border-style: none;
    margin: 0;
    padding: 0;
    line-height: 0px;
}

.dpdfrrelaisboxinfos h5 {
    font-family: 'DPDPlutoSansLight', sans-serif;
    display: inline-block;
    color: #dc0032;
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    margin: 0;
    text-transform: none;
}

.dpdfrrelaisboxinfos h4 {
    font-family: 'DPDPlutoSansLight', sans-serif;
    display: inline-block;
    color: #dc0032;
    font-size: 12px;
    font-weight: 700;
    width: 100px;
    border-style: none;
    padding: 0;
    margin: 0;
}
.dpdfrrelaisboxadresseheader img {
    height: 64px;
    width: 64px;
    margin: 5px auto;
}

.dpdfrrelaisboxhorairesheader img {
    height: 64px;
    width: 64px;
    margin: 5px auto;
}

.dpdfrrelaisboxinfosheader img {
    height: 64px;
    width: 64px;
    margin: 5px auto;
}

#dpdfrrelaisboxinfoswarning {
   display:inline;
}

.dpdfrrelaisboxjour {
    display:inline-block;
    color:#dc0032; 
    font-size: 12px;
    font-weight:400;
    min-width:75px;
}

.dpdfrance_relaisboxclose
{
    background:no-repeat;
    cursor:pointer;
    display:block;
    position:fixed;
    top:5%;
    left:80.5%;
    z-index:1111;
    transition:all .15s;
}

.dpdfrance_relaisboxclose img
{
    float:right;
    padding-top:2px;
    padding-right:2px;
}

.dpdfrance_relaisboxclose:hover
{
    transform:rotate(90deg);
}
div.okmsg
{
    background-color:#dff0d8!important;
    box-sizing:border-box!important;
    color:#424143!important;
    display:block!important;
    font-family:DPDPlutoSansLight !important;
    font-size:13px!important;
    margin:15px 0!important;
    padding:15px 15px 15px 50px !important;
    position:relative!important;
    width:100%!important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

div.okmsg::before
{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    box-sizing:border-box;
    color:#7cc67c;
    content:" ";
    background:url(../../img/admin/ok_icon.png) no-repeat center;
    display:block;
    font-family:DPDPlutoSansRegular;
    font-size:42px;
    font-style:normal;
    font-weight:400;
    height:48px;
    left:15px;
    margin:auto;
    position:absolute;
    width:25px;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.warnmsg
{
    background-color:#fff !important;
    box-sizing:border-box !important;
    border-style: solid;
    border-color: #a90034;
    border-width: 2px;
    color:#a90034!important;
    font-family:DPDPlutoSansRegular !important;
    font-size:13px!important;
    font-weight:bold;
    margin:15px 0!important;
    padding:15px 15px 15px 50px !important;
    position:relative!important;
    width:100%!important;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

div.warnmsg::before
{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    box-sizing:border-box;
    color:#a90034;
    content:"!";
    display:block;
    font-family:DPDPlutoSansRegular;
    font-size:42px;
    font-style:normal;
    font-weight:400;
    height:25px;
    left:20px;
    line-height:1;
    margin:auto;
    position:absolute;
    width:25px;
    top: 39%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

table.dpdfrance_predict_container
{
    width:100%;
}

#div_dpdfrance_predict_header
{
    width:100%;
    height:25px;
    line-height:24px;
    margin:0;
    padding:0;
    background-color:#DC0032;
}

#div_dpdfrance_predict_header p
{
    height:25px;
    margin:0;
    padding:0;
    padding-left:15px;
    font-size:13px;
    font-family:DPDPlutoSansLight;
    color:#fff;
    text-align: left !important;
}

#div_dpdfrance_predict_block
{
    width:100%;
    height:auto;
    background-color:#fff;
    margin:0;
    padding:0;
    font-size:12px;
    font-family:DPDPlutoSansLight;
}

#div_dpdfrance_predict_logo
{
    width:100%;
    height:64px;
    padding:0;
    background:url(../../img/front/predict/dpd_predict_logo.png) no-repeat center;
}

#div_dpdfrance_predict_text
{
    width:100%;
    height:auto;
}

#div_dpdfrance_predict_text h
{
    font-weight:700;
    padding:10px;
}

#div_dpdfrance_predict_text p
{
    width:100%;
    padding:10px;
}

#div_dpdfrance_predict_block i
{
    padding:5px;
    display:block;
}

#div_dpdfrance_predict_gsm
{
    background-color:#cac4be;
    color:#424143;
    padding:15px;
    display:block;
    font-size:13px;
    font-family:DPDPlutoSansRegular;
}

#input_dpdfrance_predict_gsm_dest
{
    font-size:12px;
    font-weight:400;
    height:25px;
    border:none;
    width: 100px;
    margin-left: 5px;
    padding-left: 5px;
}

#div_dpdfrance_predict_gsm form
{
    margin:0;
    display:inline-block;
}

#div_dpdfrance_predict_gsm form p {
    padding: 0;
}

#div_dpdfrance_dpd_logo
{
    height: 45px;
    margin-top: -30px;
    width: 99%;
    background:url(../../img/front/predict/dpd_logo.png) no-repeat right;
}

div.dpdfrance_predict_error
{
    color:#fff;
    background-color:#A90034;
    margin:0;
    padding:15px;
    font-size:13px;
    font-family:DPDPlutoSansRegular;
}

#predict
{
    background-color: #fff;
    background-size:cover;
    font-size:12px;
    color:#424143;
}

div.copy
{
    min-height:301px;
    padding-left:10px;
    padding-right:10px;
}

div.copy p
{
    margin:10px;
}

div.copy h2
{
    padding:0;
    font-family:DPDPlutoSansRegular;
    margin:10px;
    font-size:16px;
    text-transform:none;
    color:#424143;
    background:transparent;
}

.copy ul li
{
    list-style-type:none;
    padding-bottom: 5px;
    font-family:DPDPlutoSansLight;
}

.copy ul li:before
{
    content:'•';
    margin-right:8px;
    color:#dc0042;
}

a.dpdfrance_more
{
    margin-left:10px;
    color:#424143;
    font-family:DPDPlutoSansLight;
}

a.dpdfrance_more:hover
{
    color:#DC0042;
}

/* Responsive design */
/* Condition horizontale (PC) */
@media only screen and (max-width: 1350px) {
    .dpdfrance_relaisbox
    {
        width:80%;
        left:10%;
        top:5%;
    }
    
    .dpdfrance_relaisboxclose
    {
        left:91%;
        top:5%;
    }
}

@media only screen and (max-width: 1020px) {
    .dpdfrrelaisboxinfos
    {
        display:none;
    }
    
    .dpdfrrelaisboxbottom
    {
        width:520px;
    }
}

@media only screen and (max-width: 750px) {
    #dpdfrance_div_relais_header
    {
        display:none;
    }
    
    div.dpdfrance_logorelais
    {
        display:none;
    }
    
    div.dpdfrance_adressepr
    {
        padding-left:0px;
        font-size:10px;
        width: 60%;
    }
    
    div.dpdfrance_distancepr
    {
        font-size:10px;
    }
    
    #predict
    {
        background:#fff;
    }
    
    div.copy
    {
        padding-left:10px;
        padding-right:10px;
    }
}

@media only screen and (max-width: 680px) {
    div.dpdfrance_popinpr
    {
        display:none;
    }
    
    .dpdfrrelaisboxcarto
    {
        min-height:33%;
    }
    
    .dpdfrrelaisboxadresse
    {
        position:relative;
    }
    
    .dpdfrrelaisboxhoraires
    {
        left:0;
    }
    
    .dpdfrrelaisboxbottom
    {
        width:250px;
    }
}

/* Condition verticale (Smartphone) */
@media only screen and (max-height: 610px) {
    .dpdfrrelaisboxcarto
    {
        display:none;
    }
}